body {
  margin: min(1vw, 1vh);
  height: 98vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: min(1vw, 1vh);
}

#start_button {
  padding: 10px 20px;
  background-color: #4c4c4c;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

img{
  width: max(30vw, 30vh);
  padding: max(1vw, 1vh);
}

#display {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  width: min(98vw, 98vh);
  height: min(98vw, 98vh);
  border-color: black;
  border-width: min(0.4vw, 0.4vh);
  padding: 2px;
  border-style: solid;
}

.pixel {
  text-align: center;
  width: auto;
  aspect-ratio: 1;
}